VITE_MQTT_BROKER_URL=192.168.88.253:1883
VITE_MQTT_TOPIC_1=vibe/sound/board1
VITE_MQTT_TOPIC_2=vibe/sound/board2
VITE_MQTT_TOPIC_3=vibe/sound/board3
VITE_MQTT_STATUS_TOPIC=vibe/status/504
VITE_THRESHOLD_MEETING=90
VITE_THRESHOLD_STUDY=100
VITE_THRESHOLD_RELAX=999
