VITE_MQTT_BROKER_URL=ws://....:8083/mqtt
VITE_MQTT_USER=user
VITE_MQTT_PASS=pass
VITE_MQTT_CLIENT_ID_PREFIX=id
VITE_MQTT_TOPIC_1=vibe/a
VITE_MQTT_TOPIC_2=vibe/b
VITE_MQTT_TOPIC_3=vibe/c
VITE_MQTT_STATUS_TOPIC=vibe/status
VITE_THRESHOLD_MEETING=90
VITE_THRESHOLD_STUDY=100
VITE_THRESHOLD_RELAX=999
